* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "나눔고딕", "Nanum Gothic", "돋움", sans-serif;
}
body {
  background-color: white;
  color: #777777;
}
header {
  position: fixed
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 18%;
  background-color: transparent;
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.active:hover {
  color: #f2673a;
}
.login {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  margin-right: 300px;
}
.find_p {
  text-decoration: none;
  color: #777777;
}
.reg {
  text-decoration: none;
  color: #777777;
}
.find_p:hover {
  color: #f2673a;
}
.reg:hover {
  color: #f2673a;
}
.logo1 {
  position: relative;
}
.navbar a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin-left: 80px;
}
.main1 {
  display: flex;
  justify-content: center;
  background: transparent;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.video{
  position: relative;
  top:0;
  z-index: 100;
}
.letter {
  padding: 20px 0;
}
.theme {
  height: 50px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 85px, 0, 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.theme h2 {
  background: transparent;
  height: 50px;
  width: 200px;
  color: #333333;
  text-align: center;
  margin-left: 450px;
  padding-left: 90px;
  font-size: 38px;
  letter-spacing: 10px;
}
.vm_btn {
  text-decoration: none;
  color: #333333;
  margin-top: 20px;
  margin-left: 500px;
  height: 15px;
  width: 100px;
  font-size: 15px;
}
.slide_track {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}
.ep {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: transparent;
  margin: 20px;
  padding: 5px, auto;
}
img:hover {
  widht: 100%;
  margin: auto;
}
.content {
  width: 285px;
  height: 285px;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content:hover {
  opacity: 1;
}
.content li {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.content:hover > * {
  transform: translateY(0px);
}
.level {
  width: 200px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
  margin-left: 45px;
  padding-top: 10px;
  padding-left: 20px;
}
.st {
  width: 15px;
  height: 15px;
}
.notice {
  height: 200px;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
  line-height: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.caution {
  position: relative;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  background-color: #eeeeee;
  padding-top: 50px;
}
.caution_d {
  width: 300px;
  height: 420px;
  background-color: transparent;
  padding: 0, 10px;
  text-align: center;
}
.e_title {
  width: 200px;
  height: 40px;
  background-color: #333333;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 30px 50px 10px;
  padding: 10px 15px;
}
.explain {
  width: 220px;
  height: 90px;
  text-align: center;
  font-size: 18px;
  color: black;
  padding: 0, 10px;
  margin-left: 40px;
}
#else {
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
}
.else_o {
  margin-top: 20px;
  text-decoration: none;
  color: #777777;
}
.dis {
  margin-top: 20px;
  color: #777777;
}
footer {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: white;
  color: #777777;
  font-size: 14px;
  margin: 30px, 0;
  line-height: 30px;
}
address {
  font-style: normal;
  margin-top: 50px 0;
  border:
}
.copyright{
  border-top: 0.5px solid #a3a3a3;
  height: 40px;
  width:100%;
  background-color: white;
  color:#777777;
  font-size: 14px;
}
.copyright p{
  margin-top: 5px;
}
